<section id="gamesPreview">
    <div id="buttonsWrapper">
        <a href="#/{{prevId}}" class="button">&lt;</a>
        <a href="#/{{nextId}}" class="button">&gt;</a>
    </div>
    <ul>
        <li>
            <div id="gameCoverBox">
                <a href="/game/{{gamedbId}}"><img id="gameCover" ng-src="img/{{gamesList[gameId].shortname}}_tn.jpg"/></a>
            </div>
            <div id="gameInfoBox">
                <h2 id="gameTitle"><a href="/game/{{gamedbId}}">{{ gamesList[gameId].title }}</a></h2>
            </div>
        </li>
    </ul>
</section>
