<html>
    <head>
        <title>Game Note</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/gamePageStyle.css"/>   
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="container">
            <a id="bckButton" href="/">&lt;&lt;</a>
            <section id="gamePage">
                <div id="gameImage">
                    <img src="../img/<%= jsonData[gameId-1].shortname %>.jpg"/>
                </div>
                <section id="gameInfo">
                    <h2><%= jsonData[gameId-1].title %></h2>
                    <p><%= jsonData[gameId-1].description %></p>
                </section>                
            </section>
            <% include partials/notesList.ejs %>
        </div>
    </body>
</html>